@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body,
html {
    font-family: "Ubuntu Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #B3E5FC, #64B5F6, #2196F3);
    /* Different shades of blue */
    background-size: 600% 600%;
    animation: gradientAnimation 20s ease infinite;
}

.title {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#result-card {
    min-height: 500px;
}

#city {
    padding: 10px 20px;
    min-width: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.container-relative {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.card-absolute {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;

}

.lightbg {
    background-color: #afdcf1;
}


.form-control {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.material-symbols-outlined {
    font-size: inherit;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 600px) {
    .card-absolute {
        top: 50%;
    }

}